#container {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 100;
    justify-content: space-between;
    width: 98.9vw;
    margin-top: -10px;
    height: 10vh;
    background-color: white;
}

.logoClass {
    display: flex;
    width: 15%;
    justify-content: center;
    align-items: center;
}

#totalItems {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -10px;
    width: 30%;
    height: 100%;
    font-size: 0.8rem;
}

.item {
    padding: 10px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    text-decoration: none;
    color: inherit
}

.item:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.item:active {
    transform: translateY(2px);
}

.login-button {
    width: auto;
    height: auto;
    padding: 6px 12px;
}

#loginButton {
    background-color: black;
    color: white;
}

#loginButton:hover {
    background-color: #222;
    text-decoration: underline;
}
