#container{
    display: flex;
    position: sticky;
    top: 0;
    z-index: 100;
    flex-direction: row;
    justify-content: right;
    width: 98.9vw;
    margin-top: -10px;
    height: 14vh;
    background-color: white;
}

#totalItems{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 70px;
    width: 30%;
    height: 100%;
}

.item{
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}

.item:hover{
    transform: translateY(-3px); 
    box-shadow: 0 8px 16px rgba(82, 81, 81, 0.3); 
}
.item:active{
    transform: translateY(2px); 
    box-shadow: 0 8px 16px rgba(27, 26, 26, 0.3); 
}




