#AboutSection{
    display: flex;
    height: 100vh;
}

#leftAbout{
    height: 100%;
    width: 50%;
}

#rightAbout{
    height: 100%;
    width: 50%;
}

.background{
    background-color: #95d0fd;
}




