@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

#FoundersSection{
    font-family: 'Nunito',sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    height: 97%;
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 10px rgb(19, 101, 215);
}

#FoundersParagraph{
    width: 80%;
}
